.fit-text {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.fit-text--ellipses {
    display: none;
}

.fit-text.fit-text_head-overflow {
    display: flex;
    justify-content: flex-end;
}

.fit-text.fit-text_simple-overflow {
    text-overflow: ellipsis;
}

.fit-text_head-overflow .fit-text--head {
    display: inline-block;
    overflow: hidden;
}

.fit-text_head-overflow .fit-text--ellipses {
    display: unset;
}
