.fit-text {
    width: 100%;
    white-space: nowrap;
}

.fit-text--ellipses {
    display: none;
}

.fit-text_overflow {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.fit-text_overflow .fit-text--head {

}


.fit-text_overflow .fit-text--head {
    overflow: hidden;
}

/*.fit-text_overflow .fit-text--head {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

/*
.fit-text_overflow .fit-text--head {
    position: relative
}
.fit-text_overflow .fit-text--head:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255, 0.2), white 100%);
}
*/

.fit-text_overflow .fit-text--ellipses {
    display: unset;
}