table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

table.lyrics-translation {
  width: 50%;
  table-layout: fixed;
}

.fixed-width-container {
  box-sizing: border-box;
  margin: 2px 4px;
  border: 2px dashed darkred;
  padding: 2px 4px;
}

.width-micro {
  width: 50px;
}

.width-short {
  width: 100px;
}

.width-normal {
  width: 200px;
}

.width-long {
  width: 250px;
}

.width-very-long {
  width: 300px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.full-box-model {
  box-sizing: border-box;
  margin: 2px 4px;
  border: 2px dashed orangered;
  padding: 2px 4px;
}